<?php

$BTC_PROXY = array(
    'db_connection_string'  => 'mysql:host=localhost;dbname=bitcoin-mining-proxy',
    'db_user'               => 'bitcoin-mining-proxy',
    'db_password'           => '',

    'admin_user'            => 'admin',
    'admin_password'        => 'changeme',

    'site_uri'              => '/',

    // Number of seconds to consider when calculating number of shares and
    // average hashes/second. Default: 3600 (1 hour)
    'average_interval'      => 3600
);

?>
