<?php

error_reporting(E_ERROR | E_USER_ERROR);

$BTC_PROXY = array(
    'db_connection_string'  => 'mysql:host=localhost;dbname=bitcoin-mining-proxy',
    'db_user'               => 'bitcoin-mining-proxy',
    'db_password'           => '',

    'admin_user'            => 'admin',
    'admin_password'        => 'changeme',

    'site_uri'              => '/'
);

?>
