<?php

error_reporting(E_ERROR | E_USER_ERROR);

$BTC_PROXY = array(
    'db_connection_string'  => 'mysql:host=localhost;dbname=bitcoin-mining-proxy',
    'db_user'               => 'bitcoin-mining-proxy',
    'db_password'           => '',

    'admin_user'            => 'admin',
    'admin_password'        => 'changeme',

    'site_uri'              => '/',

    # Set to false to disable long-polling support completely.
    'long_polling'          => TRUE,

    # See <http://www.php.net/manual/en/timezones.php> for a list of timezones
    'timezone'              => 'UTC',
    # Custom date format 'Y-m-d H:i:s T' or 'human' for human readable time "54 seconds ago"
    'date_format'           => 'Y-m-d H:i:s T',

    # Number of seconds to consider when calculating number of shares and
    # average hashes/second. Default: 3600 (1 hour)
    'average_interval'      => 3600,

    # Percentage to highlight rejection percentage for pool status.
    # Default: 3 (3%)
    'rejected_alert'        => 3,
    'getwork_retries'       => 5,

    # Dashboard configuration
    'recent_work_num'       => 5,
    'refresh_interval'      => 300000, # milliseconds, 0 to disable
    'enable_graphs'         => TRUE
);

?>
