html {
    overflow: -moz-scrollbars-vertical;
}

body {
    font: 10pt sans-serif;
    color: #bbb;
    background-color: #222;
}

table.data {
    border-collapse: collapse;
    cursor: default;
}

table.data,
table.data td,
table.data th {
    border: 1px solid #bbb;
}

table.data td,
table.data th {
    padding: 0.5em;
}

table.data th {
    background-color: #444;
}

table.data tr:hover {
    background-color: #333;
}

table.data tr.rejected,
table.data tr.disabled {
    background-color: #522;
}

table.data tr.rejected:hover,
table.data tr.disabled:hover {
    background-color: #633;
}

#recent-submissions,
#recent-failed-submissions,
#worker-status {
    float: left;
    margin: 2em;
    margin-left: 0;
    padding: 0;
}

#navmenu {
    list-style: none;
    margin: 0.75em 0;
    padding: 0;
    text-align: center;
}

#navmenu li {
    margin: 0;
    padding: 0;
    display: inline;
}

#navmenu li a {
    color: inherit;
    text-decoration: none;

    padding: 0.25em 0.5em;
    border: 1px solid transparent;
}

#recent-submissions h2,
#recent-failed-submissions h2,
#worker-status h2 {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: left center;
}

#recent-submissions h2 {
    background-image: url('icons/page_go.png');
}

#recent-failed-submissions h2 {
    background-image: url('icons/page_error.png');
}

#worker-status h2 {
    background-image: url('icons/cog.png');
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
}

a:hover {
    color: #fff;
}

table.entry,
table.entry td,
table.entry th {
    border: none;
}

table.entry th {
    font-weight: normal;
    text-align: right;
}

table.entry tr.submit {
    text-align: center;
}

input[type='submit'],
#navmenu li a:hover {
    color: #bbb;
    border: 1px outset #777;
    background-color: #333;
}

form {
    display: inline;
}

img,
input[type='image'] {
    border: none;
    vertical-align: bottom;
}

tr:hover .row-hover-hide {
    display: none;
}

tr .row-hover-show {
    display: none;
}

tr:hover .row-hover-show {
    display: inline;
}
