html {
    overflow: -moz-scrollbars-vertical;
}

body {
    font: 10pt sans-serif;
    color: #bbb;
    background-color: #222;
}

table {
    border-collapse: collapse;
    cursor: default;
}

table, td, th {
    border: 1px solid #bbb;
}

td, th {
    padding: 0.5em;
}

th {
    background-color: #444;
}

tr:hover {
    background-color: #333;
}

tr.rejected {
    background-color: #522;
}

tr.rejected:hover {
    background-color: #633;
}

#recent-submissions,
#recent-failed-submissions,
#worker-status {
    width: 50%;
    margin: 0;
    padding: 0;
}

#recent-submissions,
#worker-status {
    float: left;
    clear: both;
}

#recent-failed-submissions {
    float: right;
}

#navmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navmenu li {
    margin: 0;
    padding: 0;
    display: inline;
}

#navmenu li a {
    color: inherit;
    text-decoration: none;

    padding: 0.25em 0.5em;
    border: 1px solid transparent;
}

#navmenu li a:hover {
    x-color: #222;
    x-background-color: #bbb;

    border-color: #bbb;
}
